@font-face {
  font-family: 'weweb-icons';
  src:  url('../fonts/weweb-icons.eot?77r8k3');
  src:  url('../fonts/weweb-icons.eot?77r8k3#iefix') format('embedded-opentype'),
    url('../fonts/weweb-icons.ttf?77r8k3') format('truetype'),
    url('../fonts/weweb-icons.woff?77r8k3') format('woff'),
    url('../fonts/weweb-icons.svg?77r8k3#weweb-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wwi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'weweb-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wwi-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wwi-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.wwi-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.wwi-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.wwi-flip-vertical {    
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.wwi-flip-horizontal.wwi-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1); 
}

.wwi-spin {
  -webkit-animation: wwi-spin 2s infinite linear;
          animation: wwi-spin 2s infinite linear;
}

.wwi-pulse {
  -webkit-animation: wwi-spin 1s infinite steps(8);
          animation: wwi-spin 1s infinite steps(8);
}

@-webkit-keyframes wwi-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); 
  }
}

@keyframes wwi-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); 
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); 
  }
}

.wwi-add:before {
  content: "\e900";
  color: #5d5d5d;
}
.wwi-align-right:before {
  content: "\e901";
  color: #5d5d5d;
}
.wwi-align-left:before {
  content: "\e902";
  color: #5d5d5d;
}
.wwi-analytics:before {
  content: "\e903";
  color: #5d5d5d;
}
.wwi-anim:before {
  content: "\e904";
  color: #5d5d5d;
}
.wwi-clic:before {
  content: "\e905";
  color: #5d5d5d;
}
.wwi-article:before {
  content: "\e906";
  color: #5d5d5d;
}
.wwi-link-empty:before {
  content: "\e907";
  color: #5d5d5d;
}
.wwi-background:before {
  content: "\e908";
  color: #5d5d5d;
}
.wwi-separator:before {
  content: "\e909";
  color: #5d5d5d;
}
.wwi-button:before {
  content: "\e90a";
  color: #5d5d5d;
}
.wwi-hidden:before {
  content: "\e90b";
  color: #5d5d5d;
}
.wwi-center:before {
  content: "\e90c";
  color: #5d5d5d;
}
.wwi-switch:before {
  content: "\e90d";
  color: #5d5d5d;
}
.wwi-chevron-down:before {
  content: "\e90e";
  color: #5d5d5d;
}
.wwi-chevron-right:before {
  content: "\e90f";
  color: #5d5d5d;
}
.wwi-chevron-left:before {
  content: "\e910";
  color: #5d5d5d;
}
.wwi-chevron-up:before {
  content: "\e911";
  color: #5d5d5d;
}
.wwi-paste:before {
  content: "\e912";
  color: #5d5d5d;
}
.wwi-config:before {
  content: "\e913";
  color: #5d5d5d;
}
.wwi-copy:before {
  content: "\e914";
  color: #5d5d5d;
}
.wwi-color:before {
  content: "\e915";
  color: #5d5d5d;
}
.wwi-screen:before {
  content: "\e916";
  color: #5d5d5d;
}
.wwi-edit:before {
  content: "\e917";
  color: #5d5d5d;
}
.wwi-edit-other:before {
  content: "\e918";
  color: #5d5d5d;
}
.wwi-edit-margin:before {
  content: "\e919";
  color: #5d5d5d;
}
.wwi-edit-style:before {
  content: "\e91a";
  color: #5d5d5d;
}
.wwi-cross:before {
  content: "\e91b";
  color: #5d5d5d;
}
.wwi-arrow:before {
  content: "\e91c";
  color: #5d5d5d;
}
.wwi-bold:before {
  content: "\e91d";
  color: #5d5d5d;
}
.wwi-tag-h1:before {
  content: "\e91e";
  color: #5d5d5d;
}
.wwi-tag-h2:before {
  content: "\e91f";
  color: #5d5d5d;
}
.wwi-tag-h3:before {
  content: "\e920";
  color: #5d5d5d;
}
.wwi-tag-h4:before {
  content: "\e921";
  color: #5d5d5d;
}
.wwi-home:before {
  content: "\e922";
  color: #5d5d5d;
}
.wwi-hover:before {
  content: "\e923";
  color: #5d5d5d;
}
.wwi-icon:before {
  content: "\e924";
  color: #5d5d5d;
}
.wwi-image:before {
  content: "\e925";
  color: #5d5d5d;
}
.wwi-info:before {
  content: "\e926";
  color: #5d5d5d;
}
.wwi-italic:before {
  content: "\e927";
  color: #5d5d5d;
}
.wwi-play:before {
  content: "\e928";
  color: #5d5d5d;
}
.wwi-justify:before {
  content: "\e929";
  color: #5d5d5d;
}
.wwi-lang:before {
  content: "\e92a";
  color: #5d5d5d;
}
.wwi-laptop:before {
  content: "\e92b";
  color: #5d5d5d;
}
.wwi-link-external:before {
  content: "\e92c";
  color: #5d5d5d;
}
.wwi-link-page:before {
  content: "\e92d";
  color: #5d5d5d;
}
.wwi-link-section:before {
  content: "\e92e";
  color: #5d5d5d;
}
.wwi-map:before {
  content: "\e92f";
  color: #5d5d5d;
}
.wwi-menu:before {
  content: "\e930";
  color: #5d5d5d;
}
.wwi-mobile:before {
  content: "\e931";
  color: #5d5d5d;
}
.wwi-show:before {
  content: "\e932";
  color: #5d5d5d;
}
.wwi-newsletter:before {
  content: "\e933";
  color: #5d5d5d;
}
.wwi-font:before {
  content: "\e934";
  color: #5d5d5d;
}
.wwi-popup:before {
  content: "\e935";
  color: #5d5d5d;
}
.wwi-private:before {
  content: "\e936";
  color: #5d5d5d;
}
.wwi-public:before {
  content: "\e937";
  color: #5d5d5d;
}
.wwi-publish:before {
  content: "\e938";
  color: #5d5d5d;
}
.wwi-ratio:before {
  content: "\e939";
  color: #5d5d5d;
}
.wwi-slider:before {
  content: "\e93a";
  color: #5d5d5d;
}
.wwi-sos:before {
  content: "\e93b";
  color: #5d5d5d;
}
.wwi-underline:before {
  content: "\e93c";
  color: #5d5d5d;
}
.wwi-delete:before {
  content: "\e93d";
  color: #5d5d5d;
}
.wwi-tablet:before {
  content: "\e93e";
  color: #5d5d5d;
}
.wwi-font-size:before {
  content: "\e93f";
  color: #5d5d5d;
}
.wwi-download:before {
  content: "\e940";
  color: #5d5d5d;
}
.wwi-text:before {
  content: "\e941";
  color: #5d5d5d;
}
.wwi-user:before {
  content: "\e942";
  color: #5d5d5d;
}
.wwi-users:before {
  content: "\e943";
  color: #5d5d5d;
}
.wwi-check:before {
  content: "\e944";
  color: #5d5d5d;
}
.wwi-video:before {
  content: "\e945";
  color: #5d5d5d;
}
.wwi-zoom:before {
  content: "\e946";
  color: #5d5d5d;
}
